<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<div class="container">
    <h1>Striped Rows</h1>
    <p>The .table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>img</th>
            <th>Class Name</th>
            <th>edit</th>
            <th>delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${students}">
            <td th:text="${s.id}"></td>
            <td th:text="${s.name}"></td>
            <td><img th:src="${s.img}" width="250" height="300"></td>
            <td th:text="${s.classRoom != null ? s.classRoom.name : 'Dup'}"></td>
            <td>
                <a  type="button" class="btn btn-warning">Edit</a>
            </td>
            <td>
                <button onclick="return confirm('bạn muốn xóa?')" n type="button" class="btn btn-danger">Delete</button>
            </td>

        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
